<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>工具说明</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../static/css/style.min.css" rel="stylesheet">
 
</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <div th:include="admin/include/common :: headermenu"> </div>

    <!--页面主要内容-->
    <main class="lyear-layout-content">
		<br/>
      	&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/lemon8866/spirit/blob/main/doc/updaterecords.md">点击跳转查看</a>

    </main>
    <!--End 页面主要内容-->

  </div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../static/js/main.min.js"></script>
</body>
</html>