.container{
  margin: 10%;
  margin-top: 2%;
}
.container .center{
  width: 100%;
  text-align: center;
}
.container .center textarea{
  width: 75%;
  height: 6rem;
}
.container .center button{
  display: inline-block;
  background-color: #0284da;
  border: none;
  color: #fff;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 15px;
}
.container .server{
  width: 100%;
  text-align: center;
}
.container .server textarea{
  width: 75%;
  height: 6rem;
}
.container .server button{
  display: inline-block;
  background-color: #0284da;
  border: none;
  color: #fff;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 15px;
}
.container .server label,input{
  float: left;
}
.container .server input{
  width: 8.5rem;
}